.open-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.colour{
    background-color: #F5F5F5;
}

body{
    margin:0 auto;
    padding: 0 160px ;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px 120px ;
    
}


.nav-title{
    font-weight: bold;
    font-size: 32px ;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
}


/* banner styles */

.banner .btn-primary{
    background-color: #F5F5F5;
    font-weight: 600;
    font-size: 18px ;
   color: #006A50;
   border-radius: 5px;
   align-items: center;
   
   
}
.btn-primary:hover{
    background-color: green;
}




.banner
{
    display: flex;
    background-color: #C6E4D6;
    gap: 64px;
    margin: 0 auto;
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    justify-content:space-around;
    align-items: center;
    
   
}



.banner-title{


    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    

}

.banner-profile-pic{
    width: 474px;
    height: 400px;
    
}

.banner-description{
    font-size:56px;
    font-weight: bold;
    color: #0E0E0E;
    width: 610px;
    height: 200px;
    
    

}

.banner-new{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;

}


main{
    width: 1280px ;
    margin: 0 auto;
}
/* 
pillars section */
.pillar-container{
    display: flex;
    gap: 24px;
}

.pillar{
    padding: 24px 24px;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);
   border-radius: 16px;
}

.pillar-title{
    font-weight: bold;
    font-size: 20px ;
}

.vision{
    margin-top: 80px;
}

.vision-container{
    display: flex;
    gap: 24px;
    
}

.vision1 {
    
    border-radius: 16px; 
    padding: 24px;
    background-color: rgba(84, 144, 245, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}


.vision2 {
    
    border-radius: 16px; 
    padding: 24px 24px;
    background-color: #C6E4D6;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}



.vision3 {
    border-radius: 16px; 
    padding: 24px 24px;
    background-color: #F7EBCF;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}

.vision-title{
    font-weight: bold;
    font-size: 20px ;
}



.vision-btn1{
    background-color: #5490F5;
    font-weight: 600;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
   padding: 20PX 11PX;

    
}

.vision-btn2{
    background-color: #09A15C;
    font-weight: 600;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
   padding: 20PX 11PX;
    
}


.vision-btn3{
    background-color: #FFC239;
    font-weight: 600;
    font-size: 16px ;
    padding: 20PX 11PX;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
    
}


/* styles of speech */

.speech{
    display: flex;
    background-color:#FFFFFF;
    flex-direction: column;
    margin-top: 32px;
    border-radius: 16px;
    justify-content: space-between;
    padding:24px 24px;
    gap: 0px;
}


.description-speech{
    padding:24px 0px;
    color: rgba(14, 14, 14, 0.8);

  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  

}



.name{
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
}

.chief{
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400px;
    font-size: 16px;
    margin-top: 0px;
}




/* styles of news */
.news{
    margin-top: 80px;
}

.vision-btn1{
    background-color: #006A50;
}

.news1{
    margin-top: 32px;
    display: flex;
border-radius: 24px;
    align-items: start;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}


.news2{
   margin-top: 24px;
    display: flex;
    border-radius: 24px;
    align-items:start;
    flex-direction: row-reverse;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}
.news3{
    margin-top:24px ;
        display: flex;
        border-radius: 24px;
        align-items: start;
       background-color: #FFFFFF;
       gap: 32px;
       padding: 48px 48px;
    
}





/* donate */


.donate{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-description{
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
}

 .taka{
    margin-top: 32px;
    font-size:40px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 16px;
    gap: 24px;
    padding: 40px 40px;
    align-items: center;

}
.taka1{
    margin-top: 32px;
    font-size:40px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 16px;
    gap: 24px;
    padding: 40px 40px;
    align-items: center;
}

.taka:hover{
    background-color: gold;
}


.amount{

   
    background-color: #FFFFFF;
    align-items: center;
    width: 1032px;
    height: 64px;
    margin: 32px;
   text-align: center;
   color: rgba(14, 14, 14, 0.7);
   font-size: 20px;


}

.other{
    margin-top: 24git px;
    background-color: #006A50;
    align-items: center;
    width: 151px;
    height: 56px;
    border-radius: 8px;
      }



      /*subscribed */


      .subscribed {
        display: flex;
        flex-direction: column;
        background-color: #C6E4D6;
        border: 1px solid #C6E4D6;
        height: 395px;
        width: 1280px;
        align-items: center;
        border-radius: 24px;
        margin-top: 80px;
        margin-bottom: 80px;


      }
.enter{
    width: 600px;
    height: 55px;
    text-align: center;
}

form{
    display: flex;
}


.sub{
    width: 150px;
    height: 56px;
    padding: 28px 17px;
}


/* footer style */
.bd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

