.open-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.colour{
    background-color: #F5F5F5;
}

body{
    margin:0 auto;
    padding: 0px 160px ;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px 120px ;
    
}


.nav-title{
    font-weight: bold;
    font-size: 32px ;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
}




.btn-primary:hover{
    background-color: gold;
}

/* banner styles */



.banner
{
    display: flex;
    background-color: #C6E4D6;
    gap: 64px;
    margin: 0 auto;
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    justify-content:space-around;
    align-items: center;
    
   
}




.banner-title{

    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
    

}

.banner-profile-pic{
    width: 474px;
    height: 400px;
    
}

.banner-description{
  
    font-size:56px;
    font-weight: bold;
    color: #0E0E0E;
    width: 610px;
    height: 200px;
    padding: 0px 0px;
    
    

}

.banner-new{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
   

}

.banner-new:hover{
    background-color: gold;
}


main{
    width: 1280px ;
    margin: 0 auto;
}
/* 
pillars section */

.selection-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);

}


.pillar-container{
    display: flex;
    gap: 24px;
}

.pillar{
    
    padding: 24px 24px;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);
   border-radius: 16px;
}

.pillar-title{
    padding: 0px 0px;
    font-weight: bold;
    font-size: 20px ;
    color: rgba(14, 14, 14, 0.8);
}


.pillar-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}



/* style of vision */


.vision{
    margin-top: 80px;
}



.vision-title{
    font-weight: bold;
    font-size: 40px ;
    color: rgba(14, 14, 14, 1);
}

.vision-all-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
   
}


.vision-container{
    display: flex;
    gap: 24px;
    margin-top: 24px;
    
}


.vision-title1{

    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.vision-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    
}


.vision1 {
    
    border-radius: 16px; 
    padding: 24px;
    background-color: rgba(84, 144, 245, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}


.vision2 {
    
    border-radius: 16px; 
    padding: 24px 24px;
    background-color: #C6E4D6;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}



.vision3 {
    border-radius: 16px; 
    padding: 24px 24px;
    background-color: #F7EBCF;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}



.vision-btn1{
    background-color: #006A50;
}
.vision-btn1:hover{
    background-color: gold;
}


.vision-btn1{
    background-color: #5490F5;
    font-weight: 600px;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 8px;
   text-align: center;
   padding: 20PX 11PX;

    
}

.vision-btn2{
    background-color: #09A15C;
    font-weight: 600px;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 8px;
   text-align: center;
   padding: 20PX 11PX;
    
}


.vision-btn2:hover{
    background-color: gold;
}

.vision-btn3{
    background-color: blueviolet;
    font-weight: 600px;
    font-size: 16px ;
    padding: 20PX 11PX;
   color:#FFFFFF;
   border-radius: 8px;
   text-align: center;
    
}

.vision-btn3:hover{
    background-color: gold;
}

/* styles of speech */

.speech{
    display: flex;
    background-color:#FFFFFF;
    flex-direction: column;
    margin-top: 32px;
    border-radius: 16px;
    justify-content: space-between;
    padding:24px 24px;
    gap: 0px;
}


.description-speech{
    padding:24px 0px;
    color: rgba(14, 14, 14, 0.8);

  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  

}



.name{
    font-weight: 600px;
    font-size: 20px;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.8);
}

.chief{
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400px;
    font-size: 16px;
    margin-top: 0px;
}




/* styles of news */
.news{
    margin-top: 80px;
}



.news-btn{

    background-color: #006A50;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    padding: 20PX 11PX;
    border-radius: 8px;
   text-align: center;
}


    .news-btn:hover{
        background-color: gold;
    }

.news1{
    margin-top: 32px;
    display: flex;
border-radius: 24px;
    align-items: start;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}


.news2{
   margin-top: 24px;
    display: flex;
    border-radius: 24px;
    align-items:start;
    flex-direction: row-reverse;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}
.news3{
    margin-top:24px ;
        display: flex;
        border-radius: 24px;
        align-items: start;
       background-color: #FFFFFF;
       gap: 32px;
       padding: 48px 48px;
    
}

.satellite{
    border-radius: 24px;
}



/* donate */


.donate{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.donate-title{

    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.donate-description{
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400px;
}

 .taka{
    margin-top: 32px;
    font-size:40px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 16px;
    gap: 24px;
    padding: 40px 40px;
    align-items: center;
    color: rgba(14, 14, 14, 0.8);

}


.taka:hover{
    background-color: gold;
}

.taka1{
    margin-top: 32px;
    font-size:40px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 16px;
    gap: 24px;
    padding: 40px 40px;
    align-items: center;
    color: rgba(14, 14, 14, 0.8);
}

.taka1:hover{
    background-color: gold;
}


.amount{

   
    background-color: #FFFFFF;
    align-items: center;
    width: 1032px;
    height: 64px;
    margin: 32px;
   text-align: center;
   color: rgba(14, 14, 14, 0.7);
   font-size: 20px;


}

.other{
    margin-top: 24git px;
    background-color: #006A50;
    align-items: center;
    width: 151px;
    height: 56px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
      }

      .other:hover{
        background-color: gold;
    }


   
    

      /*subscribed */


      .subscribed {
        display: flex;
        flex-direction: column;
        background-color: #C6E4D6;
        border: 1px solid #C6E4D6;
        height: 395px;
        width: 1280px;
        align-items: center;
        border-radius: 24px;
        margin-top: 80px;
        margin-bottom: 80px;

      }

.subscribe-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}


.subscribe-description{

    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);

}

.enter{
   margin-top: 24px ;
    width: 600px;
    height: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

form{
    display: flex;
    flex-direction: row;
    
}


.sub{
    margin-top: 22px ;
    width: 150px;
    height: 55px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
    text-align: center;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;


}



.sub:hover{
    background-color: gold;
}

/* footer style */
.bd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

