.open-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



body{
    margin:0 auto;
    padding: 0 160px ;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px 120px ;
    
}


.nav-title{
    font-weight: bold;
    font-size: 32px ;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
}


/* banner styles */

.banner .btn-primary{
    background-color: #F5F5F5;
    font-weight: 600;
    font-size: 18px ;
   color: #006A50;
   border-radius: 5px;
   align-items: center;
   
   
}
.btn-primary:hover{
    background-color: green;
}




.banner
{
    display: flex;
    background-color: #C6E4D6;
    gap: 64px;
    margin: 0 auto;
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    justify-content:space-around;
    align-items: center;
    
   
}



.banner-title{


    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    

}

.banner-profile-pic{
    width: 474px;
    height: 400px;
    
}

.banner-description{
    font-size:56px;
    font-weight: bold;
    color: #0E0E0E;
    width: 610px;
    height: 200px;
    
    

}

.banner-new{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18;
    color: white;
    padding: 17px 34px;
    border-radius: 5px;

}


main{
    max-width: 1280px ;
    margin: 0 auto;
}
/* 
pillars section */
.pillar-container{
    display: flex;
    gap: 24px;
}

.pillar{
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);
   
}


.vision-container{
    display: flex;
    gap: 24px; 
}

.vision1 {
    padding: 32px;
    border-radius: 5px;
    background-color: rgba(84, 144, 245, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}


.vision2 {
    padding: 32px;
    border-radius: 5px;
    background-color: #C6E4D6;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}



.vision3 {
    padding: 32px;
    border-radius: 5px;
    background-color: #F7EBCF;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);

}




.vision-btn1{
    background-color: #5490F5;
    font-weight: 600;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
   padding: 20PX 11PX;
    
}

.vision-btn2{
    background-color: #09A15C;
    font-weight: 600;
    font-size: 16px ;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
   padding: 20PX 11PX;
    
}


.vision-btn3{
    background-color: #FFC239;
    font-weight: 600;
    font-size: 16px ;
    padding: 20PX 11PX;
   color:#FFFFFF;
   border-radius: 5px;
   align-items: center;
    
}





/* styles of yunus */

.yunus{

    background-color: #FFFFFF;
    padding: 48px 24px ;
    border-radius: 10px;
    box-shadow: #F5F5F5;
    background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;

}


.name-yunus{
    font-weight: 600;
    font-size: 20px;
}











/* styles of news */

.news1{
    display: flex;

    align-items: start;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}




.news2{
   
    display: flex;
    align-items:start;
    flex-direction: row-reverse;
   background-color: #FFFFFF;
   gap: 32px;
   padding: 48px 48px;
}
.news3{
    .news1{
        display: flex;

        align-items: start;
       background-color: #FFFFFF;
       gap: 32px;
       padding: 48px 48px;
    } 
}